@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit Client Details</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Phone)
  @Html.EditorFor(model => model.Phone)

  @Html.LabelFor(model => model.Email)
  @Html.EditorFor(model => model.Email)

  @Html.LabelFor(model => model.Service)
  @Html.EditorFor(model => model.Service)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Show all clients", "Index")</p>